<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>hello world!</h1>
  <h3>
    <a href="/signin">Sign In here</a>
    <a href="/signup">Sign Up here</a>
  </h3>
</body>
</html>